outputs_ver2_reduced_200000
outputs_ver3
.DS_Store			
inputs_for_inferences		
pretrained_models
AWS_EC2				
nohup.out						
outputs_initial			
training_datasets
downloaded images		
outputs_original_pretrained	
outputs_ver1_hr_150000